# Database configuration
DATABASE_URL="file:./dev.db"

# GitHub Integration
GITHUB_CLIENT_SECRET="ENTER_SECRET_HERE" # Leave blank to disable GitHub login option
GITHUB_CLIENT_ID="ENTER_ID_HERE" # Leave blank to disable GitHub login option