.btn-primary-custom {
  background-color: var(--primary-color);
  color: var(--text-primary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--primary-dark);
  }
}
